/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: rgb(0, 102, 255);
   
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #182B2F; */
    background-color: #D3BCC0
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Poppins', sans-serif;
    color: rgb(85, 85, 85);
}

/* TRANSITION FOR ALL LINKS + BUTTON CLASS
transition that chages between 2 states*/
a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

    nav, .nav-links {
        display: flex;
    }

    nav {
        justify-content: space-around;
        align-items: center;
        height: 17vh;
    }

    #desktop-nav {
        background-color: var(--bg-color);
        height: 80px;
    }

    .nav-links {
        gap: 2rem;
        list-style: none;
        font-size: 1.5rem;

    }

    a {
        color: black;
        text-decoration: none;
        text-decoration-color: white;
    }

    a:hover {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: rgb(181, 181, 181);
    }

    .logo {
        font-size: 2rem;
        
    }

    .logo:hover {
        cursor:default;
    }

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    /*Transforming the line by rotating it into an X */
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1; 
}

.hamburger-icon span:first-child {
    transform: none;
}

.dot {
    height: 400px;
    width: 400px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    margin-left: 200px;
  }

/* SECTIONS */

/* Section 1: Profile Section */

section {
    height: 96vh;
    padding-top: 5%;
    margin: 0 10rem 6rem;
    box-sizing: border-box;
    min-height: fit-content;
}


#profile {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}


.dot {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 5;
}

.section_text {
    /* display: inline; */
    /* font-size: 2rem; */
    align-self: center;
    text-align: center;
}

.section_text p{
    font-weight: 600;
}

.description_p1 {
    /* font-size: 1.5rem; */
    text-align: center;
}


.description_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    /* color: rgb(0, 102, 255); */
}

.title {
    font-size: 4rem;
    text-align: center;
}

#socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/* ICONS */
.icon {
    cursor: pointer;
    height: 3rem;
}

.icon:hover {
    transition: all 300ms ease;
    filter: drop-shadow(0 0 0.75rem var(--bg-color))    
}

.icon_2 {
    height: 3.5rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-color-1,
.btn-color-2 {
    font-weight: 600;
    font-size: medium;
    white-space: nowrap;
    background-color: white;
    border: rgb(53, 53, 53) 0.1rem solid;
    padding: 1.5rem;
    width: 10rem;
    border-radius: 2rem;
    justify-content: center;

}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
    transition: all 500ms ease;
    filter: drop-shadow(0 0 0.75rem var(--bg-color))
}


.btn_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px auto;
    margin-bottom: 20px;
    
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-2:hover {
    background: rgb(0, 0, 0);

}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}


/* ABOUT ME SECTION */

#about {
    position: relative;
}

 .about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.about-details-container {
    flex-direction: column;
}

.about-container,
.about-details-container {
    display: flex;
    justify-content: center;
}


.icon_arrow {
    position: absolute;
    cursor: pointer;
    right: -5rem;
    bottom: 2.5rem;
    height: 3rem;
}

.details-container, 
.experience-details-container {
    padding: 2.5rem;
    flex: 0.25;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;
}


.text-container {
    flex: 0.5;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for visual indication */
    white-space: nowrap; 
   
}

#education-text {
    padding: 2.5%;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}


.experience-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience-details-container {
    flex: 1;
    padding: 1.5rem 6rem;
    padding-left: 2%;
}


.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    
    
    gap: 3.5em;
    /* row-gap: 5ch; */

    justify-content: space-around;
    margin: 1rem;
    padding: 3%;
}

article {
    display: flex;
    width: 9rem;
    gap: 0.5rem;
    
    
}

article .icon {
    cursor: default;
}

.experience-headings {
    color: rgb(70, 69, 69);
}
/* PROJECTS SECTION */

#projects {
    position: relative;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.project-details-container {
    display:flex;
    flex-direction: column;
    padding: 2.5rem;
    flex: 0.25;
    gap: 0.75rem;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;
}

.project-details-container img {
    max-width: 100%;
}

.icon_arrow {
    position: absolute;
    cursor: pointer;
    right: -5rem;
    bottom: 2.5rem;
    height: 3rem;
}

